force-app/main/default/flows/fg_Template_Selector.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_Selected_Mappings_to_Collection</name>
        <label>Convert Selected Mappings to Collection</label>
        <locationX>1399</locationX>
        <locationY>388</locationY>
        <actionName>ConvertStringToStringCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>get_Mappings</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>delimitedString</name>
            <value>
                <elementReference>Merge_Templates</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>delimiter</name>
            <value>
                <stringValue>;</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ConvertStringToStringCollection</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Trigger_FG_Manager_0</name>
        <label>Trigger FG Manager</label>
        <locationX>2264</locationX>
        <locationY>512</locationY>
        <actionName>fg_Manager</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Logs_for_Creation</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>baserecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mapping</name>
            <value>
                <elementReference>fgMappingCMD</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logIds</name>
            <value>
                <elementReference>LogIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>fg_Manager</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_LogId_to_Collection_0</name>
        <label>Add LogId to Collection</label>
        <locationX>2428</locationX>
        <locationY>512</locationY>
        <assignmentItems>
            <assignToReference>LogIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Logs_for_Creation.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Trigger_FG_Manager_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Log_Records</name>
        <label>Build Log Records</label>
        <locationX>1717</locationX>
        <locationY>560</locationY>
        <assignmentItems>
            <assignToReference>LogRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LogRecord.Template_Doc_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_over_mappings.Template_Doc_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LogRecord.Record_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LogRecord.Template_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_over_mappings.DeveloperName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LogRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LogRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_over_mappings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clone_Mappings_For_Processing</name>
        <label>Clone Mappings For Processing</label>
        <locationX>2072</locationX>
        <locationY>277</locationY>
        <assignmentItems>
            <assignToReference>SelectedMappingsClone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InitialMappings</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Correct_Mapping</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>get_mapping_with_same_label</name>
        <label>get mapping with same label</label>
        <locationX>2354</locationX>
        <locationY>117</locationY>
        <assignmentItems>
            <assignToReference>fgMappingCMD</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>single_mapping</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>single_mapping</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Log</name>
        <label>Set Data</label>
        <locationX>1818</locationX>
        <locationY>741</locationY>
        <assignmentItems>
            <assignToReference>LogId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LogRecord.Record_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LogRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LogRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Mappings_0</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Find_Correct_Mapping</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Find Correct Mapping</label>
        <locationX>2208</locationX>
        <locationY>275</locationY>
        <assignNextValueToReference>currentItem_Find_Correct_Mapping_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>SelectedMappingsClone</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Find_Correct_Mapping_0.DeveloperName</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Logs_for_Creation.Template_Name__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>single_mapping</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Are_We_On_Log_Record</name>
        <label>Are We On Log Record?</label>
        <locationX>1248</locationX>
        <locationY>624</locationY>
        <defaultConnector>
            <targetReference>File_Genie</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Merge</defaultConnectorLabel>
        <rules>
            <name>Predefined_Mapping_s</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InitialMappings</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_over_mappings</targetReference>
            </connector>
            <label>Predefined Mapping(s)</label>
        </rules>
        <rules>
            <name>Started_From_Log</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Object_API_Name.QualifiedApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fg_Log__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Log</targetReference>
            </connector>
            <label>Started From Log</label>
        </rules>
    </decisions>
    <decisions>
        <name>File_Type_0</name>
        <label>File Type</label>
        <locationX>2591</locationX>
        <locationY>388</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>XLSX_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Logs_for_Creation.Template_Doc_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>xlsx</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>XLSX_Merge_scrn_0_0</targetReference>
            </connector>
            <label>XLSX</label>
        </rules>
        <rules>
            <name>DOCX_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Logs_for_Creation.Template_Doc_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>docx</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_LogId_to_Collection_0</targetReference>
            </connector>
            <label>DOCX</label>
        </rules>
    </decisions>
    <description>Adding multi-select support</description>
    <dynamicChoiceSets>
        <name>MergeCMDRecords</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sObject_API__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Object_API_Name.QualifiedApiName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>fg_Mapping__mdt</object>
        <outputAssignments>
            <assignToReference>fgMappingCMD.Content_Document_Id__c</assignToReference>
            <field>Content_Document_Id__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>fgMappingCMD.DeveloperName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>fgMappingCMD.File_Name__c</assignToReference>
            <field>File_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>fgMappingCMD.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>fgMappingCMD.Label</assignToReference>
            <field>Label</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>fgMappingCMD.Mapping__c</assignToReference>
            <field>Mapping__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>fgMappingCMD.Save_As__c</assignToReference>
            <field>Save_As__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>fgMappingCMD.Template_Doc_Type__c</assignToReference>
            <field>Template_Doc_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>fgMappingCMD.sObject_API__c</assignToReference>
            <field>sObject_API__c</field>
        </outputAssignments>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>DeveloperName</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>RecordIdPrefix</name>
        <dataType>String</dataType>
        <expression>LEFT({!recordId},3)</expression>
    </formulas>
    <interviewLabel>File Genie Template Selector {!$Flow.CurrentDateTime}</interviewLabel>
    <label>File Genie Template Selector</label>
    <loops>
        <name>Logs_for_Creation</name>
        <label>Logs for Creation</label>
        <locationX>1974</locationX>
        <locationY>397</locationY>
        <collectionReference>LogRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Clone_Mappings_For_Processing</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>loop_over_mappings</name>
        <label>loop over mappings</label>
        <locationX>1714</locationX>
        <locationY>397</locationY>
        <collectionReference>InitialMappings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Build_Log_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Logs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>single_mapping</name>
        <label>single mapping</label>
        <locationX>2347</locationX>
        <locationY>276</locationY>
        <collectionReference>Find_Correct_Mapping</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_mapping_with_same_label</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>File_Type_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Logs</name>
        <label>Create Logs</label>
        <locationX>1847</locationX>
        <locationY>397</locationY>
        <connector>
            <targetReference>Logs_for_Creation</targetReference>
        </connector>
        <inputReference>LogRecords</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Log</name>
        <label>Get Log</label>
        <locationX>1642</locationX>
        <locationY>750</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Log</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>fg_Log__c</object>
        <outputReference>LogRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Template_Doc_Type__c</queriedFields>
        <queriedFields>Record_Id__c</queriedFields>
        <queriedFields>Template_Name__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Base64ContentDoc__c</queriedFields>
        <queriedFields>Document_Data__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_Mappings</name>
        <label>get Mappings</label>
        <locationX>1531</locationX>
        <locationY>388</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_over_mappings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>In</operator>
            <value>
                <elementReference>Convert_Selected_Mappings_to_Collection.stringCollection</elementReference>
            </value>
        </filters>
        <object>fg_Mapping__mdt</object>
        <outputReference>InitialMappings</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Label</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <queriedFields>Mapping__c</queriedFields>
        <queriedFields>MasterLabel</queriedFields>
        <queriedFields>sObject_API__c</queriedFields>
        <queriedFields>Template_Doc_Type__c</queriedFields>
        <queriedFields>Content_Document_Id__c</queriedFields>
        <queriedFields>File_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_Mappings_0</name>
        <label>get Mappings</label>
        <locationX>1976</locationX>
        <locationY>739</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Logs_for_Creation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LogRecord.Template_Name__c</elementReference>
            </value>
        </filters>
        <object>fg_Mapping__mdt</object>
        <outputReference>InitialMappings</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Label</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <queriedFields>Mapping__c</queriedFields>
        <queriedFields>MasterLabel</queriedFields>
        <queriedFields>sObject_API__c</queriedFields>
        <queriedFields>Template_Doc_Type__c</queriedFields>
        <queriedFields>Content_Document_Id__c</queriedFields>
        <queriedFields>File_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Object_API_Name</name>
        <label>Get Object API Name</label>
        <locationX>1100</locationX>
        <locationY>620</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_We_On_Log_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>KeyPrefix</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordIdPrefix</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EntityDefinition</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>QualifiedApiName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>File_Genie</name>
        <label>File Genie</label>
        <locationX>1263</locationX>
        <locationY>362</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Convert_Selected_Mappings_to_Collection</targetReference>
        </connector>
        <fields>
            <name>Merge_Templates</name>
            <choiceReferences>MergeCMDRecords</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Merge Templates</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>XLSX_Merge_scrn_0_0</name>
        <label>XLSX Merge Screen</label>
        <locationX>2269</locationX>
        <locationY>389</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Logs_for_Creation</targetReference>
        </connector>
        <fields>
            <name>XLSX_Merger_LWC_0_0</name>
            <extensionName>c:fg_XLSX_Merger</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sObjectAPI</name>
                <value>
                    <elementReference>fgMappingCMD.sObject_API__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIdIn</name>
                <value>
                    <elementReference>fgMappingCMD.Content_Document_Id__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>logIn</name>
                <value>
                    <elementReference>Logs_for_Creation.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mappingIn</name>
                <value>
                    <elementReference>fgMappingCMD.Mapping__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNameIn</name>
                <value>
                    <elementReference>fgMappingCMD.File_Name__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordIdIn</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>688</locationX>
        <locationY>602</locationY>
        <connector>
            <targetReference>Get_Object_API_Name</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Find_Correct_Mapping_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>fg_Mapping__mdt</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>fg_Mapping__mdt</objectType>
    </variables>
    <variables>
        <name>fgMappingCMD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>fg_Mapping__mdt</objectType>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InitialMappings</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>fg_Mapping__mdt</objectType>
    </variables>
    <variables>
        <name>LogId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LogIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LogRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>fg_Log__c</objectType>
    </variables>
    <variables>
        <name>LogRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>fg_Log__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedMappingsClone</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>fg_Mapping__mdt</objectType>
    </variables>
</Flow>
